<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Texture Generator</title>
</head>
<body>
    <h1>Texture Generator</h1>
    <form action="/generate" method="post" enctype="multipart/form-data">
        <label for="style">Style Image:</label>
        <input type="file" name="style" accept="image/*" required>
        <br>
        <label for="content">Content Image:</label>
        <input type="file" name="content" accept="image/*" required>
        <br>
        <label for="content_strength">Content Strength:</label>
        <input type="text" name="content_strength" >
        <br>
        <button type="submit">Generate Texture</button>
    </form>
    </form>
    <h2>Texture Mixing</h2>
    <form action="/Texture_mixing" method="post" enctype="multipart/form-data">
        <label for="style1">Style Image 1:</label>
        <input type="file" name="style1" accept="image/*" required>
        <br>
        <label for="style2">Style Image 2:</label>
        <input type="file" name="style2" accept="image/*" required>
        <br>
        <label for="mixing_alpha">Mixing Alpha:</label>
        <input type="text" name="mixing_alpha">
        <br>
        <button type="submit">Run Texture Mixing</button>
        
    </form>
    <h2>Color Transfer</h2>
    <form action="/Color_transfer" method="post" enctype="multipart/form-data">
        <label for="style_color">Style Image:</label>
        <input type="file" name="style" accept="image/*" required>
        <br>
        <label for="content_color">Content Image:</label>
        <input type="file" name="content" accept="image/*" required>
        <br>
        <label for="style_scale">Style Scale:</label>
        <input type="text" name="style_scale">
        <br>
        <label for="content_strength_color">Content Strength:</label>
        <input type="text" name="content_strength">
        <br>
        <button type="submit">Run Color Transfer</button>
    </form>

    <h2>Texture Synthesis</h2>
    <form action="/Texture_synthesis" method="post" enctype="multipart/form-data">
        <label for="style_synthesis">Style Image:</label>
        <input type="file" name="style" accept="image/*" required>
        <br>
        <label for="size_synthesis">Size:</label>
        <input type="text" name="size">
        <br>
        <button type="submit">Run Texture Synthesis</button>
    </form>
    <h1>Generated Images</h1>
{% if generated_images %}
{% for image in generated_images %}

 <div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-md-6">
		<h3 class="font-size: 20px">Style Image</h3>
                  <img class="img-fluid" src="{{ url_for('static', filename='style/img_input1.png') }}" alt="Style Image">
              </div>
              <div class="col-md-6">
                <h3 class="font-size: 20px">Content Image</h3>
                <img class="img-fluid" src="{{ url_for('static', filename='content/img_input2.png') }}" alt="Content Image">
              </div>
		<div class="col-md-6">
                <h3 class="font-size: 20px">Image Result</h3>
               <img  class="img-fluid" src="{{ url_for('serve_generated_image', filename=image) }}" alt="Generated Image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
            <a href="{{ url_for('serve_generated_image', filename=image) }}" download="{{ image }}">
                <button type="button">Download Image</button>
            </a>
            <form action="{{ url_for('brightness_multiplication') }}" method="POST" enctype="multipart/form-data">
                <button type="submit">Penambahan Contras</button>
            </form>
            <form action="{{ url_for('brightness_division') }}" method="POST" enctype="multipart/form-data">
                <button type="submit">Pengurangan Contras</button>
            </form>
            <form action="{{ url_for('bandFilterPass') }}" method="POST" enctype="multipart/form-data">
                <button type="submit">Bandpass Filter</button>
            </form>
{% endfor %}
{% else %}
<p>No generated images available.</p>
{% endif %}
</body>
</html>
